apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: dapr
  namespace: kube-system
spec:
  chart: dapr
  repo: https://daprio.azurecr.io/helm/v1/repo
  targetNamespace: dapr-system
  valuesContent: |-
    global:
      registry: docker.io/daprio
      tag: latest-arm
      logAsJson: false
      imagePullPolicy: Always
      imagePullSecrets: ""
      prometheus:
        enabled: false
        port: 9090
      mtls:
        enabled: true
        workloadCertTTL: 24h
        allowedClockSkew: 15m